@model Restoran2016.ModelView.Profil

@{
    ViewBag.Title = "Profil";
}

<h2>Profil</h2>

@{
<script src="~/Content/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Content/Scripts/jquery-ui-1.8.24.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
}

<div id="tabs">
    <ul>
        <li>
            <a href="#tabs-1">Osnovni podaci</a>
        </li>
        <li>
            <a href="#tabs-2">Prijatelji</a>
        </li>
        <li>
            <a href="#tabs-3">Restorani</a>
        </li>
    </ul>
    <div id="tabs-1">
         <fieldset>
    <legend>Osnovni podaci</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Email):  @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ime): @Html.DisplayFor(model => model.ime)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.prezime): @Html.DisplayFor(model => model.prezime)
    </div>

    @Html.ActionLink("Edit", "Edit", new { id = Model.Email })
</fieldset> 
    </div>
    <div id="tabs-2">
        <fieldset>
            <legend>Prijatelji</legend>
            <table>
                <tr>
                    <th>
                        Ime
                    </th>
                    <th>
                        Prezime
                    </th>
                    <th>
                        Email
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.prijatelji)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IME_GOSTA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PREZIME_GOSTA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EMAIL_GOSTA)
                        </td>

                        <td>

                            @Html.ActionLink("Obrisi", "ObrisiP", new { id = item.EMAIL_GOSTA })
                        </td>
                    </tr>
                }

            </table>
        </fieldset>

        <fieldset>
            <legend>Zahtevi</legend>

            <table>
                <tr>
                    <th>
                        Ime
                    </th>
                    <th>
                        Prezime
                    </th>

                    <th></th>
                </tr>

                @foreach (var item in Model.zahtevi)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IME_GOSTA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PREZIME_GOSTA)
                        </td>

                        <td>
                            @Html.ActionLink("Prihvati", "Dodaj2", new { id = item.EMAIL_GOSTA })
                        </td>

                        <td>
                            @Html.ActionLink("Odbij", "OdbijP", new { id = item.EMAIL_GOSTA })
                        </td>

                    </tr>
                }

            </table>
        </fieldset>

        <fieldset>
            <legend>Predlozi</legend>

            <table>
                <tr>
                    <th>
                        Ime
                    </th>
                    <th>
                        Prezime
                    </th>

                    <th></th>
                </tr>

                @foreach (var item in Model.neprijatelji)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IME_GOSTA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PREZIME_GOSTA)
                        </td>

                        <td>
                            @Html.ActionLink("Dodaj", "Dodaj", new { id = item.EMAIL_GOSTA })
                        </td>

                    </tr>
                }

            </table>
        </fieldset>
        @Html.ActionLink("Pronadji Prijatelje", "PronadjiPrijatelje")
    </div>
    <div id="tabs-3">
        <fieldset>
            <legend>Restorani</legend>
            <table>
                <tr>
                    <th>
                        Naziv
                    </th>
                    <th>
                        Vrsta
                    </th>
                    <th>
                        Ocena
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.restorani)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NAZIV_RESTORANA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OPIS_RESTPRANA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PROSECNA_OCENA)
                        </td>
                        <td>
                            @Html.ActionLink("Informacije", "InformacijeORestoranu", new { id = item.ID_RESTORANA })
                        </td>
                        <td>
                            @Html.ActionLink("Rezervisi", "RezervisiRestoran", new { id = item.ID_RESTORANA })
                        </td>

                    </tr>
                }

            </table>
        </fieldset>
        @Html.ActionLink("Pronadji Restorane", "PronadjiRestorane")
        <fieldset>
            <legend>Istorija poseta</legend>
            <table>
                <tr>
                    <th>
                        Naziv
                    </th>
                    <th>
                        Datum
                    </th>
                    <th>
                        Ocena
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.poseteRestoranima)
                {
                    <tr>
                        <td>                            
                            @Html.DisplayFor(modelItem => item.ID_RESTORANA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DATUM)
                        </td>
                        @if (item.OCENA <= 0)
                        {
                            <td>
                                -
                            </td>
                            <td>
                                @Html.ActionLink("Oceni", "OceniRestoran", new { id = item.ID })
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.OCENA)
                            </td>
                        }

                    </tr>
                }

            </table>

        </fieldset>       
        
            <fieldset>
                <legend>Rezervacije</legend>
                <table>
                    <tr>
                        <th>
                            Naziv
                        </th>
                        <th>
                            Datum
                        </th>
                        <th>
                            Od
                        </th>
                        <th>
                            Do
                        </th>
                        <th>
                            Broj Stola
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model.buducePosete)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ID_RESTORANA)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DATUM)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.VREME_DOLASKA)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.VREME_ODLASKA)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.STO)
                            </td>

                        </tr>
                    }

                </table>
            </fieldset>

        
       
    </div>
</div>
<div id="tabid"></div>

<script>
    $("#tabs").tabs({
        activate: function (event, ui) {
            var active = $('#tabs').tabs('option', 'active');
            $("#tabid").html('the tab id is ' + $("#tabs ul>li a").eq(active).attr("href"));

        }
    }

    );
</script>





