@model IEnumerable<Restoran2016.Models.GOST>

@{
    ViewBag.Title = "PronadjiPrijatelje";
}

<h2>PronadjiPrijatelje</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm()){
<p>
    Ime: @Html.TextBox("ime")
    Prezime: @Html.TextBox("prezime")
    <input type="submit" value="Filter" />
</p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL_GOSTA)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.IME_GOSTA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PREZIME_GOSTA)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL_GOSTA)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.IME_GOSTA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PREZIME_GOSTA)
        </td>
       
        <td>
            @Html.ActionLink("Dodaj", "Dodaj", new { @id = item.EMAIL_GOSTA }) 

        </td>
    </tr>
}

</table>
