@model IEnumerable<Restoran2016.Models.GOST>

@{
    ViewBag.Title = "PronadjiPrijatelje";
}

<h2>PronadjiPrijatelje</h2>

@using (Html.BeginForm()){
<p>
    Ime: @Html.TextBox("ime")
    Prezime: @Html.TextBox("prezime")
    <input type="submit" value="Filter" />
</p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL_GOSTA)
        </th>

        <th>
            @Html.ActionLink("Ime", "PronadjiPrijatelje", new { sortOrder = ViewBag.imeSort })
        </th>
        <th>
            @Html.ActionLink("Prezime", "PronadjiPrijatelje", new { sortOrder = ViewBag.prezimeSort })
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL_GOSTA)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.IME_GOSTA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PREZIME_GOSTA)
        </td>
        
        <td>
            @Html.ActionLink("Dodaj", "Dodaj", new { ime = item.IME_GOSTA, prezime = item.PREZIME_GOSTA }) 

        </td> 
        
    </tr>
}

</table>

<div>
    @Html.ActionLink("Vrati se nazad", null, null, null, new { href = Request.UrlReferrer })
</div>
