@model Restoran2016.Models.GOST

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.EMAIL_GOSTA, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EMAIL_GOSTA)
                @Html.ValidationMessageFor(model => model.EMAIL_GOSTA) @ViewBag.Message
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PASS_GOSTA, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PASS_GOSTA)
                @Html.ValidationMessageFor(model => model.PASS_GOSTA)
            </div>
        </div>

       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>
    </div>
}


